<p>recipesearch works!</p>

<button (click)="searchRecipe()">Get Recipes</button>

@for (recipe of Recipes; track recipe) {
    <article>
        <h3>{{ recipe.label }}</h3>
        <img src="{{ recipe.image }}" alt="recipe image">
        <p>{{ recipe.totalTime }}</p>
        <p>{{ recipe.self }}</p>
        <ul>
            @for (ingredientLine of recipe.ingredientLines; track ingredientLine) {
                <li>{{ ingredientLine }}</li>
            }
        </ul>
    </article>
} @empty {
    <p>There are no recipes..</p>
}