<img src="/assets/image1.jpeg" class="size-full" alt="">

<div class="flex flex-row justify-center bg-orange-100 rounded-3xl h-56 size-11/12 m-auto text-center mt-5">
    <div class="m-14 w-2/3">
        <h2 class="mb-2 text-4xl text-red-800">Choose a mealtype!</h2>
        <button class="mb-2 font-bold py-2 px-4 rounded-full border-2 border-white text-red-800 ml-10 hover:text-red-300"
            (click)="searchRecipe()">All Recipes</button>

        <button class=" font-bold py-2 px-4 rounded-full border-2 border-white text-red-800 ml-10 hover:text-red-300"
            (click)="breakfastRecipe()">Breakfast</button>

        <button class=" font-bold py-2 px-4 rounded-full border-2 border-white text-red-800 ml-10 hover:text-red-300"
            (click)="lunchRecipe()">Lunch</button>

        <button class=" font-bold py-2 px-4 rounded-full border-2 border-white text-red-800 ml-10 hover:text-red-300"
            (click)="dinnerRecipe()">Dinner</button>

        <button class=" font-bold py-2 px-4 rounded-full border-2 border-white text-red-800 ml-10 hover:text-red-300"
            (click)="dessertRecipe()">Dessert</button>

        <button class=" font-bold py-2 px-4 rounded-full border-2 border-white text-red-800 ml-10 hover:text-red-300"
            (click)="snackRecipe()">Snack</button>


        <button class=" font-bold py-2 px-4 rounded-full border-2 border-white text-red-800 ml-10 hover:text-red-300"
        (click)="vegetarianRecipe()">Vegetarian</button>

        <button class=" font-bold py-2 px-4 rounded-full border-2 border-white text-red-800 ml-10 hover:text-red-300"
        (click)="veganRecipe()">Vegan</button>

        <button class=" font-bold py-2 px-4 rounded-full border-2 border-white text-red-800 ml-10 hover:text-red-300"
        (click)="dairyRecipe()">Dairy</button>

        <button class=" font-bold py-2 px-4 rounded-full border-2 border-white text-red-800 ml-10 hover:text-red-300"
        (click)="glutenRecipe()">Gluten free</button>
    </div>

</div>


@for (recipe of recipes; track recipe) {
<article>
    <h3>{{ recipe.label }}</h3>
    <img src="{{recipe.image}}">
    <p>{{recipe.totalTime}}</p>
    <p>{{recipe.self}}</p>
    <ul>
        @for (ingredientLine of recipe.ingredientLines; track ingredientLine) {
        <li>{{ingredientLine}}</li>
        }
    </ul>
</article>
} @empty {
<p>There are no recipes...</p>
}