
 <!-- <p>{{id}}</p> -->
 <div class="bg-white text-center flex flex-col gap-2 w-fit mx-auto px-32 py-14 m-2 rounded-lg shadow-2xl">
  <img class="rounded-lg w-full h-fit md:h-96 md:w-96 shadow-md" *ngIf="recipe" [src]="recipe.image" [alt]="recipe.label">
  <h2 class="text-2xl text-center md:text-2xl lg:text-3xl text-green-900 italic" *ngIf="recipe">{{ recipe.label }}</h2>
    <ul class="text-center md:text-xl" *ngIf="recipe">
      <p class="list-decimal" *ngFor="let ingredientLines of recipe.ingredientLines">
        {{ ingredientLines }}
      </p>
    </ul>
  </div>
  
 