<h1 class="text-white ml-10 mt-2 mb-4 text-3xl">Choose mealtype!</h1>

<button class="text-white ml-10 hover:text-green-500" (click)="searchRecipe()">All Recipes</button>

<button class="text-white ml-10 hover:text-green-500" (click)="searchRecipe()">Breakfast</button>

<button class="text-white ml-10 hover:text-green-500" (click)="searchRecipe()">Lunch</button>

<button class="text-white ml-10 hover:text-green-500" (click)="searchRecipe()">Dinner</button>

<button class="text-white ml-10 hover:text-green-500" (click)="searchRecipe()">Dessert</button>

<button class="text-white ml-10 hover:text-green-500" (click)="searchRecipe()">Snack</button>






<div class=" flex flex-wrap gap-3 w-10/12/12 justify-center">
    <hr>
    @for (recipe of recipes; track recipe) {
    <article class="text-white">
        <img class="w-96 h-82" src="{{ recipe.image }}" alt="recipe image"> <br>
        <h3 class="text-center  text-2xl text-green-500 w-64 h-20">{{ recipe.label }}</h3> <br>
        <hr>
        <h4 class="text-2xl text-green-200">The ingredients</h4>
        <ul>
            @for (ingredientLine of recipe.ingredientLines; track ingredientLine) {
                <li class="text-left w-52">{{ ingredientLine }}</li>
            }
        </ul>
    </article>
} @empty {
    <p class="text-white">There are no recipes..</p>
}
</div>